@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.sneaker-text{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: whitesmoke;
}
.text-2{
    margin-top: 20px;
}
.centerImg{
    margin-top: -70px;
}